//VISTA DE TODO EL SITIO DE ANNIA 
@import "./utilities/variables";
@import "./utilities/mixins"; 
@import "./views/reset";
@import "./components/button";
@import "./layout/header";
@import "./components/breadcrumb";
@import "./components/carrusel";
@import "./components/offcanvas";
@import "./components/pagination";
@import "./layout/mainflex";
@import "./views/contacto";   
@import "./layout/footer";
@import "./utilities/mediaqueries";