//VARIABLES DE COLORES Y TAMAÑOS
$color-negro: #000;
$color-blanco:white;
$color-fondo:rgb(250, 246, 237);
$fondo-transparente:transparent;
$tamano-chico:10px;
$tamano-mediano:15px;
$tamano-grande:20px;
$tamano-hover:18px;