//HEADER FLEX
header {
    display: flex;
    justify-content:center;
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: $color-fondo,var(--bs-bg-opacity)!important;}
    .navbar {
        width: 100%;
        }
        .container-fluid {
            background-color: $color-fondo;
            }
            .navbar-collapse{
                justify-content: space-around;
                .nav-link{
                    &:hover{
                        font-size: $tamano-hover;
                    }
                }
                .dropdown {
                    &-menu {
                        --bs-dropdown-link-active-bg:#transparent;
                        --bs-dropdown-link-active-color: $color-negro;
                        background-color:$color-fondo ;
                        .dropdown-item {
                            &:hover {
                                font-size: $tamano-hover;
                            }    
                         }
                     }    
                }
            }   
}