//BOTÓN DE BOOSTRAP
.btn {
    border-color: black;
    color: $color-negro;
    width: auto;
    height: 40px;
    background-color: $fondo-transparente;
    &-primary {
        --bs-btn-bg: $color-negro;
        --bs-btn-hover-bg: $color-negro;
        --bs-btn-border-color: black;
        --bs-btn-hover-border-color:black;
        --bs-btn-active-bg: $color-negro;      
    }
    &-outline-success {
        --bs-btn-hover-bg: $fondo-transparente;
        --bs-btn-hover-border-color : black;
        --bs-btn-hover-color: $color-negro;
        --bs-btn-active-bg: none;
        --bs-btn-active-color: $color-negro;
    }
    &-outline-warning {
        background-color: $fondo-transparente;
        --bs-btn-hover-bg :$fondo-transparente;
        --bs-btn-hover-border-color: black;
        --bs-btn-color: gray ;
        --bs-btn-border-color : black ;
        --bs-btn-active-bg : $fondo-transparente ;
        --bs-btn-focus-shadow-rgb :$color-negro ;
        --bs-btn-active-border-color : black;
    }
}